*{
  padding: 0;
  margin: 0;
}

.box{
  width: 800px;
  height: 600px;
  background: rebeccapurple;
  margin: 100px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-face {
  width:200px;
  height: 150px;
  background: rgb(1,177,253);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-face-inner{
  width: 160px;
  height: 110px;
  background: rgba(255, 255, 255, 1);
  border-radius: 15px;
}